<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Rodec Conseils{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('themes/css/style.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="bg">
            {{ render(controller('AppBundle:Default:header')) }}
            {% block body %}{% endblock %}
        </div>
        <footer>
            {#<div class="fright">More <a rel="nofollow" href="http://www.templatemonster.com/category.php?category=0&type=1"#}
                                        {#target="_blank"> at TemplateMonster.com</a></div>#}
            rodecconseils.fr © 2017
            {#&nbsp; &nbsp;| &nbsp; &nbsp;<a href="index-6.html">Privacy Policy</a>#}
        </footer>
        {% block javascripts %}
            <script src="{{ asset('themes/js/jquery-1.6.4.min.js') }}"></script>
            <script src="{{ asset('themes/js/Franklin_Gothic_Medium_400.font.js') }}"></script>
            <script src="{{ asset('themes/js/cufon-replace.js') }}"></script>
            <script src="{{ asset('themes/js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
