{% extends 'base.html.twig' %}

{% block title %}
    Contact - {{ parent() }}
{% endblock %}

{% block body %}
    <section id="content">
        <div class="container_24">
            <div class="wrapper">
                <article class="grid_10">
                    <h3>Nous contactez</h3>
                    <form id="contact-form" method="POST" action="{{ path('contact') }}">
                        {{form_errors(form)}}
                        {{ form_widget(form._token) }}
                        <div class="success">Votre message a bien été envoyé.</div>
                        <fieldset>
                            <label class="name">
                                {{ form_widget(form.name) }}
                                <span class="empty">Champ obligatoire</span>
                            </label>
                            <label class="phone">
                                {{ form_widget(form.phoneNumber) }}
                                <span class="error">Le numéro de téléphone n'est pas valide</span>
                                <span class="empty">Champ obligatoire</span>
                            </label>
                            <label class="email">
                                {{ form_widget(form.email) }}
                                <span class="error">L'email n'est pas valide</span>
                                <span class="empty">Champ obligatoire</span>
                            </label>
                            <label class="message">
                                {{ form_widget(form.message) }}
                                <span class="empty">Champ obligatoire</span>
                            </label>
                            <div class="btns">
                                <input class="button" type="reset" value="Annuler" />
                                <input class="button" type="submit" value="Envoyer" />
                            </div>
                        </fieldset>
                    </form>
                </article>
                <article class="grid_13 prefix_1">
                    <h3>Plan d'accès et coordonnées</h3>
                    <iframe id="map_canvas" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                    <div class="wrapper">
                        <article class="grid_4 alpha">
                            {#<strong class="color-4">The Company Name Inc. 8901 Marmora Road, Glasgow, D04 89GR.</strong>#}
                            <strong class="color-4">The Company Name Inc.</strong>
                            <strong class="color-4">8901 Marmora Road,</strong>
                            <strong class="color-4">Glasgow, D04 89GR.</strong>
                        </article>
                        <article class="grid_5 prefix_3">
                            <dl>
                                <dd><span>Freephone:</span>+1 800 559 6580</dd>
                                <dd><span>Telephone:</span>+1 800 603 6035</dd>
                                <dd><span>FAX:</span>+1 800 889 9898 </dd>
                                <dd>E-mail: <a href="more.html">mail@demolink.org</a></dd>
                                <dd>Skype: <a href="more.html">@skypename</a></dd>
                            </dl>
                        </article>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}
