<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Rodec Conseils</a>
        </div>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
                {% for node in nodes %}
                    {#{% if node.page %}#}
                        {#{% set url = path('page', { 'code': node.page.code }) %}#}
                    {#{% elseif node.nodeChilds|length > 0 %}#}
                        {#{% set url = path('page', { 'code': node.url }) %}#}
                    {% if node.url != 'contact' and node.url != 'quadra' %}
                        {% set url = path(node.url) %}
                        <li><a href="{{ url }}">{{ node.title }}</a></li>
                    {% elseif node.url == 'contact' %}
                        {% set url = '#contact' %}
                        <li><a href="{{ url }}">{{ node.title }}</a></li>
                    {% elseif node.url == 'quadra' %}
                        {% set url = informationRepository.findOneByDataKey('lien-espace-client').dataValue() %}
                        <li><a href="{{ url }}" target="_blank">{{ node.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>