{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-8 col-xs-24">
            <div class="row">
                <div class="col-sm-24 col-xs-24">
                    <h3>Actualité</h3>
                    {% for new in pagination %}
                        <div>
                            {% if new.image %}
                                <div class="image-news-home">
                                    <img src="{{ asset('images/' ~ new.image.imageName) }}"/>
                                </div>
                            {% endif %}
                            <a href="{{ path('new', { slug: new.slug }) }}">[{{ new.publishAt|date('d/m/Y') }}] {{ new.title|truncate(35, true, '...') }}</a>
                            {{ new.content|truncate(200, true, '...')|raw }}
                        </div>
                    {% endfor %}
                    <a style="float: right;" class="btn btn-default" href="{{ path('news') }}">Plus d'actualité</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-24 col-xs-24">
                    {% include 'default/block.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-sm-16 col-xs-24">
            <img src="{{ asset('accueil.jpg') }}" style="width: 100%; margin-top: 20px;">
            {#<h3>{{ page.title }}</h3>#}
            {#{% if page.image %}#}
                {#<div class="image-home">#}
                    {#<img src="{{ asset('images/' ~ page.image.imageName) }}"/>#}
                {#</div>#}
            {#{% endif %}#}
            {#<p>{{ page.content|truncate(1200, true, '...')|raw }}</p>#}
            {#<a class="btn btn-default" href="{{ path('page', { 'code': page.code }) }}">Voir la suite</a>#}
        </div>
    </div>
{% endblock %}
