{% extends 'base.html.twig' %}

{% block body %}
    <section id="content">
        <div class="container_24">
            <div class="wrapper">
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="download-box">
                        <p class="icon"><img src="{{ asset('themes/images/icon-download.png') }}" alt="" width="25"></p>
                        {{ flash_message }}
                    </div>
                {% endfor %}

                <article class="grid_7 suffix_1">
                    <h3>Actualité</h3>
                    {% for new in pagination %}
                        <div class="wrapper">
                            <div class="extra-wrap">
                                <time datetime="{{ new.createdAt|date('d/m/Y') }}"><a href="{{ path('new', { slug: new.slug }) }}">[{{ new.createdAt|date('d/m/Y') }}]</a></time>
                                {{ new.content|truncate(150, true, '...')|raw }}
                            </div>
                        </div>
                    {% endfor %}
                    <a class="button" href="{{ path('news') }}">Plus d'actualité</a>
                </article>
                <article class="grid_7 suffix_1">
                    <h3>{{ page.title }}</h3>
                    <p>{{ page.content|truncate(800, true, '...')|raw }}</p>
                    <a class="button" href="{{ path('page', { 'code': page.code }) }}">Voir la suite</a>
                </article>
                <article class="grid_8">
                    <h3>Why Choose Us</h3>
                    <div class="wrapper p2">
                        <strong class="dropcap">1</strong>
                        <div class="extra-wrap">
                            <h6 class="p1">Social Media Strategy </h6>
                            Partuent amet montes nascetur ridius musduim fusce feugiat alesda odio morbi nuncodio
                            <a href="more.html">&hellip;</a>
                        </div>
                    </div>
                    <div class="wrapper p2">
                        <strong class="dropcap">2</strong>
                        <div class="extra-wrap">
                            <h6 class="p1">Providing Leading Services</h6>
                            Montes nascetur ridius musduim fusce feugiat alesda odio morbi nuncodio gravida
                            cursusnec loremnas
                            <a href="more.html">&hellip;</a>
                        </div>
                    </div>
                    <div class="wrapper p2">
                        <strong class="dropcap">3</strong>
                        <div class="extra-wrap">
                            <h6 class="p1">Providing the best solutions</h6>
                            Gravida cursusnec, luctus loremnas tristique orci acsem aenan auctor wis duis ultricies
                            <a href="more.html">&hellip;</a>
                        </div>
                    </div>
                    <div class="wrapper">
                        <strong class="dropcap">4</strong>
                        <div class="extra-wrap">
                            <h6 class="p1">World of ideas</h6>
                            Donec accumsan malesuada orci. Amet situmamet eros. Lorem ipsum dolor amet
                            <a href="more.html">&hellip;</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}
