{% extends 'base.html.twig' %}

{% block body %}
    <section id="content">
        <div class="container_24">
            <div class="wrapper">
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="download-box">
                        <p class="icon"><img src="{{ asset('themes/images/icon-download.png') }}" alt="" width="25"></p>
                        {{ flash_message }}
                    </div>
                {% endfor %}

                <article class="grid_7 suffix_1">
                    <h3>Actualité</h3>
                    {% for new in pagination %}
                        <div class="wrapper">
                            <div class="extra-wrap">
                                <time datetime="{{ new.createdAt|date('d/m/Y') }}"><a href="{{ path('new', { slug: new.slug }) }}">[{{ new.createdAt|date('d/m/Y') }}]</a></time>
                                {{ new.content|truncate(150, true, '...')|raw }}
                            </div>
                        </div>
                    {% endfor %}
                    <a class="button" href="{{ path('news') }}">Plus d'actualité</a>
                </article>
                <article class="grid_7 suffix_1">
                    <h3>{{ page.title }}</h3>
                    <p>{{ page.content|truncate(800, true, '...')|raw }}</p>
                    <a class="button" href="{{ path('page', { 'code': page.code }) }}">Voir la suite</a>
                </article>
                <article class="grid_8">
                    <div id="box-espace-client">
                        <a href="#" class="espace-client button">Mon Espace Client</a>
                    </div>
                    <div id="box-newsletter">
                        <h6>Newsletter</h6>
                        <form method="post" action="">
                            <input type="text" class="newsletter-input" placeholder="Email">
                            <button type="submit" class="newsletter-submit button">M'inscrire</button>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}
