{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-8 col-xs-24">
            <h3>Actualité</h3>
            {% for new in pagination %}
                <div>
                    <a href="{{ path('new', { slug: new.slug }) }}">[{{ new.createdAt|date('d/m/Y') }}] {{ new.title|truncate(35, true, '...') }}</a>
                    {{ new.content|truncate(200, true, '...')|raw }}
                </div>
            {% endfor %}
            <a class="btn btn-default" href="{{ path('news') }}">Plus d'actualité</a>
        </div>
        <div class="col-sm-8 col-xs-24">
            <h3>{{ page.title }}</h3>
            <p>{{ page.content|truncate(800, true, '...')|raw }}</p>
            <a class="btn btn-default" href="{{ path('page', { 'code': page.code }) }}">Voir la suite</a>
        </div>
        <div class="col-sm-8 col-xs-24">
            {% include 'default/block.html.twig' %}
        </div>
    </div>
{% endblock %}
