{% extends 'base.html.twig' %}

{% block meta %}
    {% if news.description %}
        <meta name="description" content="{{ news.description }}">
        {% if news.keyword %}
            <meta name="keywords" content="{{ news.keyword }}">
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block title %}
    {{ news.title }} - {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading text-center">{{ news.title }}</h2>
                    {% if news.imageName %}
                        <div class="image-page">
                            <img src="{{ asset('images/' ~ news.imageName) }}"/>
                        </div>
                    {% endif %}
                    {{ news.content|raw }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        (function($) {
            "use strict";

            $('#mainNav').removeClass('affix-top').addClass('affix')
        })(jQuery);
    </script>
{% endblock %}