{% extends 'base.html.twig' %}

{% block title %}
    {{ news.title }} - {{ parent() }}
{% endblock %}

{% block meta %}
    {% if news.description %}
        <meta name="description" content="{{ news.description }}">
        {% if news.keyword %}
            <meta name="keywords" content="{{ news.keyword }}">
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path('news') }}">Actualités</a></li>
        <li class="active">{{ news.title }}</li>
    </ol>
    <div class="row">
        <div class="col-sm-16 col-xs-24">
            <h1>{{ news.title }}</h1>
            <p>{{ news.content|raw }}</p>
            <blockquote class="blockquote-reverse">
                <footer>Publiée le {{ news.publishAt|date('d/m/Y') }}</footer>
            </blockquote>
        </div>
        <div class="col-sm-8 col-xs-24">
            {% include 'default/block.html.twig' %}
        </div>
    </div>
{% endblock %}
