{% extends 'base.html.twig' %}

{% block title %}
    Actualités - {{ parent() }}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="active">Actualités</li>
    </ol>
    <div class="row">
        <div class="col-sm-16 col-xs-24">
            <div class="row">
                {% for news in pagination %}
                    <div class="col-sm-12 col-xs-24">
                        <h3>{{ news.title|truncate(20, true, '...') }}</h3>
                        <p>{{ news.content|truncate(500, true, '...')|raw }}</p>
                        <a class="btn btn-default" href="{{ path('new', { slug: news.slug }) }}">Voir la suite</a>
                    </div>
                    {% if loop.index is even %}
            </div>
            <div class="row">
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-sm-24 col-xs-24">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-xs-24">
            {% include 'default/block.html.twig' %}
        </div>
    </div>
{% endblock %}
