{% extends 'base.html.twig' %}

{% block title %}
    Actualités - {{ parent() }}
{% endblock %}

{% block body %}
    <section id="content">
        <div class="container_24">
            <div class="wrapper">
                <div class="grid_16">
                    {% for key, news in pagination %}
                        <article class="grid_7 {{ (key is odd) ? '' : 'suffix_1' }}">
                            <h3>{{ news.title|truncate(20, true, '...') }}</h3>
                            {{ news.content|truncate(500, true, '...')|raw }}
                            <a class="button" href="{{ path('new', { slug: news.slug }) }}">Voir la suite</a>
                        </article>
                    {% endfor %}
                </div>
                <div class="grid_8">
                    <article>
                        <div id="box-espace-client">
                            <a href="{{ lien.dataValue }}" class="espace-client button" target="_blank">Mon Espace Client</a>
                        </div>
                        <div id="box-newsletter">
                            <h6>Newsletter</h6>
                            <form method="post" action="{{ path('homepage') }}">
                                {{ form_widget(form.email) }}
                                <button type="submit" class="newsletter-submit button">M'inscrire</button>
                            </form>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="container_24">
            <div class="wrapper">
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
