{% extends 'base.html.twig' %}

{% block title %}
    {{ node.title }} - {{ parent() }}
{% endblock %}

{% block meta %}
    {% if node.description %}
        <meta name="description" content="{{ node.description }}">
        {% if node.keyword %}
            <meta name="keywords" content="{{ node.keyword }}">
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        {% if node.nodeParent %}
            <li><a href="{{ path('page', { 'code': node.nodeParent.url }) }}">{{ node.nodeParent.title }}</a></li>
        {% endif %}
        <li class="active">{{ node.title }}</li>
    </ol>
    {% set i = 0 %}
    <div class="row">
        <div class="col-sm-16 col-xs-24">
            <div class="row">
                {% for nodeChild in node.nodeChilds %}
                    {% if nodeChild.page %}
                        <div class="col-sm-12 col-xs-24">
                            <h3>{{ nodeChild.title|truncate(10, true, '...') }}</h3>
                            <p>{{ nodeChild.page.content|truncate(500, true, '...')|raw }}</p>
                            <a class="btn btn-default" href="{{ path('page', { 'code': nodeChild.page.code }) }}">Voir la suite</a>
                        </div>
                        {% set i = i + 1 %}
                        {% if i == 2 %}
                            {% set i = 0 %}
            </div>
            <div class="row">
                        {% endif %}
                    {% else %}
                        {% for nodeChildTwo in nodeChild.nodeChilds %}
                            <div class="col-sm-12 col-xs-24">
                                <h3>{{ nodeChildTwo.title|truncate(10, true, '...') }}</h3>
                                <p>{{ nodeChildTwo.page.content|truncate(500, true, '...')|raw }}</p>
                                <a class="btn btn-default" href="{{ path('page', { 'code': nodeChildTwo.page.code }) }}">Voir la suite</a>
                            </div>
                            {% set i = i + 1 %}
                            {% if i == 2 %}
            </div>
            <div class="row">
                                {% set i = 0 %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-8 col-xs-24">
            {% include 'default/block.html.twig' %}
        </div>
    </div>
{% endblock %}
