{% extends 'base.html.twig' %}

{% block title %}
    {{ node.title }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-16 col-xs-24">
            <div class="row">
                {% for nodeChild in node.nodeChilds %}
                    {% if nodeChild.page %}
                        <div class="col-sm-12 col-xs-24">
                            <h3>{{ nodeChild.title|truncate(10, true, '...') }}</h3>
                            <p>{{ nodeChild.page.content|truncate(500, true, '...')|raw }}</p>
                            <a class="btn btn-default" href="{{ path('page', { 'code': nodeChild.page.code }) }}">Voir la suite</a>
                        </div>
                    {% else %}
                        {% for nodeChildTwo in nodeChild.nodeChilds %}
                            <div class="col-sm-12 col-xs-24">
                                <h3>{{ nodeChildTwo.title|truncate(10, true, '...') }}</h3>
                                <p>{{ nodeChildTwo.page.content|truncate(500, true, '...')|raw }}</p>
                                <a class="btn btn-default" href="{{ path('page', { 'code': nodeChildTwo.page.code }) }}">Voir la suite</a>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-8 col-xs-24">
            {% include 'default/block.html.twig' %}
        </div>
    </div>
{% endblock %}
