{% extends 'base.html.twig' %}

{% block title %}
    {{ page.title }} - {{ parent() }}
{% endblock %}

{% block body %}
    <section id="content">
        <div class="container_24">
            <div class="wrapper">
                <article class="grid_15 suffix_1">
                    <h1>{{ page.title }}</h1>
                    {{ page.content|raw }}
                </article>
                <article class="grid_8">
                    <div id="box-espace-client">
                        <a href="{{ lien.dataValue }}" class="espace-client button" target="_blank">Mon Espace Client</a>
                    </div>
                    <div id="box-newsletter">
                        <h6>Newsletter</h6>
                        <form method="post" action="{{ path('homepage') }}">
                            {{ form_widget(form._token) }}
                            {{ form_widget(form.email) }}
                            <button type="submit" class="newsletter-submit button">M'inscrire</button>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}
