{% extends 'base.html.twig' %}

{% block title %}
    Plan du site - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-16 col-xs-24">
            <h1>Plan du site</h1>
            <ul>
                {% for node in nodes %}
                    {% if node.page %}
                        {% set url = path('page', { 'code': node.page.code }) %}
                    {% elseif node.nodeChilds|length > 0 %}
                        {% set url = path('page', { 'code': node.url }) %}
                    {% elseif node.url %}
                        {% set url = path(node.url) %}
                    {% else %}
                        {% set url = '#' %}
                    {% endif %}
                    <li>
                        <a href="{{ url }}">{{ node.title }}</a>
                        {% if node.nodeChilds|length > 0 %}
                            <ul>
                                {% for nodeChild in node.nodeChilds %}
                                    {% if nodeChild.page %}
                                        {% set urlChild = path('page', { 'code': nodeChild.page.code }) %}
                                    {% elseif nodeChild.url %}
                                        {% set urlChild = path('page', {'code': nodeChild.url}) %}
                                    {% else %}
                                        {% set urlChild = '#' %}
                                    {% endif %}
                                    <li>
                                        <a href="{{ urlChild }}">{{ nodeChild.title }}</a>
                                        {% if nodeChild.nodeChilds|length > 0 %}
                                            <ul>
                                                {% for nodeChildChild in nodeChild.nodeChilds %}
                                                    {% set urlChildChild = path('page', { 'code': nodeChildChild.page.code }) %}
                                                    <li><a href="{{ urlChildChild }}">{{ nodeChildChild.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                <li><a href="{{ path('news') }}">Actualités</a></li>
                <li><a href="{{ path('page', {'code': 'mention-legale'}) }}">Mention Légale</a></li>
            </ul>
        </div>
        <div class="col-sm-8 col-xs-24">
            {% include 'default/block.html.twig' %}
        </div>
    </div>
{% endblock %}