{% extends 'base.html.twig' %}

{% block title %}
    Plan du site - {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading text-center">Plan du site</h2>
                    <ul>
                        {% for node in nodes %}
                            {% if node.url and node.url != 'contact' %}
                                <li>
                                    <a href="{{ path(node.url) }}">{{ node.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li><a href="{{ path('mention-legale') }}">Mention Légale</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        (function($) {
            "use strict";

            $('#mainNav').removeClass('affix-top').addClass('affix')
        })(jQuery);
    </script>
{% endblock %}
